doctype html
html(lang='en')
  head
    title find me
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700')
    link(rel='stylesheet', href='css/semantic.min.css')
    link(rel='stylesheet', href='css/leaflet.css')
    link(rel='stylesheet', href='css/findme.css')
  body
    #map




  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  script(src='js/lib/semantic.min.js')
  script(src='js/lib/leaflet.js')
  script(src='js/lib/underscore-min.js')
  script(src='js/lib/backbone-min.js')
  script(src='/primus/primus.js')
  script(src='js/findme-client.js')
